<header>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><%= link_to "Movies", movies_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>